body {
	margin: 0%;
	padding: 0%;
}
 
.report-card{
	display: block;
	width: 100%;
	border: none;

	margin: 1% auto;
	padding: 3% 0%;
	text-align: center;
}

table {
	width: 35%;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

ul {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	width: 100%;
	margin-bottom: 1%;
}

p {
	width: 50%;
	margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
	
	.report-card {
		width: 90%;
	}

	table {
		width: 80%;
	}

	ul {
		margin-left: 0%;
	}

}
